<header>
  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="background-image: url('/assets/Hero.png'); height: 400px"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h2 class="mb-3">Não perca!</h2>
          <h4 class="mb-3">
            Explore os eventos vibrantes que estão acontecendo localmente e
            globalmente!
          </h4>
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="form1"
              class="form-control text-white"
            />
            <label mdbLabel class="form-label text-light" for="form1"
              >Pesquisar Por Evento</label
            >
          </mdb-form-control>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
