.navbar {
  background-color: #2B293D;
}

.nomelogo {
  font-size: 2ex;
  font-weight: bold;
  color: #ffd700; /* Cor amarela como na imagem */
  margin-left: 5px;
  margin-top: 1px;
  font-family: "Arial", sans-serif;
  align-items: center;
}
