<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Novo Evento</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body"><form>
      <!-- Name input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="registerName" class="form-control" />
        <label mdbLabel class="form-label" for="registerName">Name</label>
      </mdb-form-control>

      <!-- Username input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="registerUsername" class="form-control" />
        <label mdbLabel class="form-label" for="registerUsername">Username</label>
      </mdb-form-control>

      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="registerEmail" class="form-control" />
        <label mdbLabel class="form-label" for="registerEmail">Email</label>
      </mdb-form-control>

      <!-- Password input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="password" id="registerPassword" class="form-control" />
        <label mdbLabel class="form-label" for="registerPassword">Password</label>
      </mdb-form-control>

      <!-- Repeat Password input -->
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="password"
          id="registerRepeatPassword"
          class="form-control"
        />
        <label mdbLabel class="form-label" for="registerRepeatPassword"
          >Repeat password</label
        >
      </mdb-form-control>

      <!-- Checkbox -->
      <div class="form-check d-flex justify-content-center mb-4">
        <input
          mdbCheckbox
          class="form-check-input me-2"
          type="checkbox"
          value=""
          id="registerCheck"
          [checked]="true"
          aria-label="registerCheckHelpText"
        />
        <label class="form-check-label" for="registerCheck">
          I have read and agree to the terms
        </label>
      </div>

      <!-- Submit button -->
      <button mdbRipple type="submit" class="btn btn-primary btn-block mb-3">
        Sign in
      </button>
    </form></div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div>